EmailLibrary/Web References/AccountService/AccountWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://temple.edu/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://temple.edu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://temple.edu/">
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theLoginEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="theLoginPass" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogInResult" type="tns:Account" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Account">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedEmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactEmailAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Avatar" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountPassword" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTimeStamp" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountRoleType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestionCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestionPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestionSchool" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SecurityQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theAccount" type="tns:Account" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SecurityQuestionsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theAccount" type="tns:Account" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theAccount" type="tns:Account" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BanUnBan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theAccount" type="tns:Account" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BanUnBanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BanUnBanResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountsWithFlaggedEmail">
        <s:complexType />
      </s:element>
      <s:element name="GetAccountsWithFlaggedEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountsWithFlaggedEmailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:SecurityQuestions" />
  </wsdl:message>
  <wsdl:message name="SecurityQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:SecurityQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="BanUnBanSoapIn">
    <wsdl:part name="parameters" element="tns:BanUnBan" />
  </wsdl:message>
  <wsdl:message name="BanUnBanSoapOut">
    <wsdl:part name="parameters" element="tns:BanUnBanResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountsWithFlaggedEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountsWithFlaggedEmail" />
  </wsdl:message>
  <wsdl:message name="GetAccountsWithFlaggedEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountsWithFlaggedEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountWebSoap">
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SecurityQuestions">
      <wsdl:input message="tns:SecurityQuestionsSoapIn" />
      <wsdl:output message="tns:SecurityQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input message="tns:UpdatePasswordSoapIn" />
      <wsdl:output message="tns:UpdatePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input message="tns:CreateAccountSoapIn" />
      <wsdl:output message="tns:CreateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BanUnBan">
      <wsdl:input message="tns:BanUnBanSoapIn" />
      <wsdl:output message="tns:BanUnBanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountsWithFlaggedEmail">
      <wsdl:input message="tns:GetAccountsWithFlaggedEmailSoapIn" />
      <wsdl:output message="tns:GetAccountsWithFlaggedEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountWebSoap" type="tns:AccountWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://temple.edu/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityQuestions">
      <soap:operation soapAction="http://temple.edu/SecurityQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://temple.edu/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://temple.edu/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BanUnBan">
      <soap:operation soapAction="http://temple.edu/BanUnBan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsWithFlaggedEmail">
      <soap:operation soapAction="http://temple.edu/GetAccountsWithFlaggedEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountWebSoap12" type="tns:AccountWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://temple.edu/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityQuestions">
      <soap12:operation soapAction="http://temple.edu/SecurityQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap12:operation soapAction="http://temple.edu/UpdatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="http://temple.edu/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BanUnBan">
      <soap12:operation soapAction="http://temple.edu/BanUnBan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsWithFlaggedEmail">
      <soap12:operation soapAction="http://temple.edu/GetAccountsWithFlaggedEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountWeb">
    <wsdl:port name="AccountWebSoap" binding="tns:AccountWebSoap">
      <soap:address location="http://cis-iis2.temple.edu/spring2021/CIS3342_tun49199/Project4/AccountWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountWebSoap12" binding="tns:AccountWebSoap12">
      <soap12:address location="http://cis-iis2.temple.edu/spring2021/CIS3342_tun49199/Project4/AccountWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>